html {
  min-height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #56ccf2;
  background: linear-gradient(to right, #2f80ed, #56ccf2) center / cover no-repeat;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  /*align-items: center;*/
  /*flex-direction: column;*/
  justify-content: center;
  min-height: 100%;
  width: 100%;
}
